@model CakeShop.Data.Entites.Pie

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="product ">
        <ul class="product-labels">
            <li><a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a></li>
        </ul>
        <div class="product-img-wrap">
            <img class="product-img-primary" src="@Model.ImageThumbnailUrl" alt="@Model.ShortDescription" title="@Model.ShortDescription">
            <img class="product-img-alt" src="@Model.ImageThumbnailUrl" alt="@Model.ShortDescription" title="@Model.ShortDescription">
        </div>
        <div class="product-caption">
            <h5 class="product-caption-title">@Model.ShortDescription</h5>
            <div class="product-caption-price">
                <span class="product-caption-price-new"> @Model.Price.ToString("c")</span>
            </div>
            <ul class="product-caption-feature-list">
                <li>
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">
                        Add to cart
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

@*<img src="@Model.ImageThumbnailUrl" alt="CakeShop " class="img-thumbnail" />
    <div class="caption">
        <h3 class="pull-right">
            @Model.Price.ToString("c")
        </h3>
        <h3>
            <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
        </h3>
        <p>@Model.ShortDescription</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.PieId">
                Add to cart
            </a>
        </p>
    </div>*@
